<article
        class="post post--small _snippet-post--small {{ post.slug }} {{ post.slug }}--small _snippet-{{ post.slug }}--small">
    <h4 class="post-title"><a href="{{ post.link }}">{{ post.title }}</a></h4>

    <div class="post-excerpt">{{ post.content | excerpt(20) }}</div>

    <a class="post-link btn" href="{{ post.link }}">{{ _e('Weiterlesen.') }}</a>
</article>
<article
        class="post post--small _snippet-post--small {{ post.slug }} {{ post.slug }}--small _snippet-{{ post.slug }}--small">
    <h4 class="post-title"><a href="{{ post.link }}">{{ post.title }}</a></h4>

    <div class="post-excerpt">{{ post.content | excerpt(20) }}</div>

    <a class="post-link btn" href="{{ post.link }}">{{ _e('Weiterlesen.') }}</a>
</article>