<article class="_snippet-person person person--full" itemscope itemtype="http://schema.org/Person">
    <div class="person-image">
        {% if person.get_field('profil-link') == 'yes' %}
            <a href="{{ person.link }}">
                <img src="{{ TimberImage(person.get_thumbnail | default(placeholder(320,320))) }}"/>
            </a>
        {% else %}
            <img src="{{ TimberImage(person.get_thumbnail | default(placeholder(320,320))) }}"/>
        {% endif %}
    </div>

    <div class="person-content">
        {% if person.get_field('profil-link') == 'yes' %}
            <a href="{{ person.link }}">
                <h2 class="person-name" itemprop="name">
                    {{ person.title }}
                    <small class="person-jobtitle">
                        {{ person.jobtitle }}
                    </small>
                </h2>
            </a>
        {% else %}
            <h2 class="person-name" itemprop="name">
                {{ person.title }}
                <small class="person-jobtitle">
                    {{ person.jobtitle }}
                </small>
            </h2>
        {% endif %}



        {% if person.content %}
            <p class="person-content">
                {{ person.content }}
            </p>
        {% endif %}
    </div>
</article>