<article class="post post--med post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
    <section class="article-content">

        <header class="post-header">
            {% if post.get_thumbnail %}
                <div class="post-image">
                    <img src="{{ TimberImage(post.get_thumbnail) }}" itemprop="image" alt=""/>
                </div>
            {% endif %}

            <h2 class="post-title"><a href="{{ post.link }}">{{ post.post_title }}</a></h2>
        </header>

        <div class="post-body">
            {{ post.content }}
        </div>

        <div class="post-footer">
            <a class="post-link btn" href="{{ post.link }}">{{ _e('Weiterlesen.') }}</a>
        </div>
    </section>

</article>