<article class="_snippet-person person person--med" itemscope itemtype="http://schema.org/Person">
    <div class="person-image">
        {% if person.get_field('profil-link') == 'yes' %}
            <a href="{{ person.link }}">
                <img src="{{ TimberImage(person.get_thumbnail | default(placeholder(320,320))) }}"/>
            </a>
        {% else %}
            <img src="{{ TimberImage(person.get_thumbnail | default(placeholder(320,320))) }}"/>
        {% endif %}
    </div>

    <div class="person-content">
        {% if person.get_field('profil-link') == 'yes' %}
            <a href="{{ person.link }}">
                <h3 class="person-name" itemprop="name">{{ person.title }}</h3>
            </a>
        {% else %}
            <h3 class="person-name" itemprop="name">{{ person.title }}</h3>
        {% endif %}

        <p class="person-jobtitle">
            <em>{{ person.jobtitle }}</em>
        </p>

        {% if person.post_excerpt %}
            <p class="person-description">
                {{ person.post_excerpt }}
            </p>
        {% endif %}

        {% if person.get_field('profil-link') == 'yes' %}
            <div class="profile-link">
                {% include('_snippets/_snippet-button.twig') with {'type': 'secondary', 'label': _e('Profile'), 'url': member.link } %}
            </div>
        {% endif %}
    </div>
</article>