<section class="_module-social">
    <h4 class="social-headline">{{ _e('Folgt uns:') }}</h4>
    <ul>
        {% if options['social-linkedin'] %}
            <li>
                <a href="{{ options['social-linkedin'] }}" target="_blank"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
            </li>
        {% endif %}
        {% if options['social-twitter'] %}
            <li>
                <a href="{{ options['social-twitter'] }}" target="_blank"><i class="fa fa-twitter-square"></i> Twitter</a>
            </li>
        {% endif %}
        {% if options['social-facebook'] %}
            <li>
                <a href="{{ options['social-facebook'] }}" target="_blank"><i class="fa fa-facebook-square"></i> Facebook</a>
            </li>
        {% endif %}
        {% if options['social-google'] %}
            <li>
                <a href="{{ options['social-google'] }}" target="_blank"><i class="fa fa-google-plus-square"></i> Google+</a>
            </li>
        {% endif %}
        {% if options['social-xing'] %}
            <li>
                <a href="{{ options['social-xing'] }}" target="_blank"><i class="fa fa-xing-square"></i>
                    Xing</a>
            </li>
        {% endif %}
    {% if options['social-instagram'] %}
            <li>
                    <a href="{{ options['social-instagram'] }}" target="_blank"><i class="fa fa-instagram"></i>
                            Instagram</a>
            </li>
    {% endif %}
    </ul>
</section>