<div class="_module-footer-businessinfo">
    <div>
        {{ _e('Rufen Sie uns an:') }}

        <h3>
            <a href="tel:{{ global_businessinfo_telefon_link }}" class="btn btn-primary">{{ global_businessinfo_telefon }}</a>
        </h3>
    </div>

    <div>
        {{ _e('Öffnungszeiten') }}
        <h3>{{ _e('Montag bis Freitag, 8 bis 18 Uhr') }}</h3>
        <small>{{ _e('sowie nach Vereinbarung.') }}</small>
    </div>
</div>