<section class="_module-downloads">
    {% for cat in post.get_field('download-categories') %}
        <ul class="download-category">
            {% if cat.title %}
                <h2 class="download-category-title">{{ cat.title }}</h2>
            {% endif %}

            {% for download in cat.downloads %}
                <li class="download">
                    {% if download.file %}
                    <a href="{{ download.file['url'] }}" {{ download.target ? 'target="_blank"' : '' }}>
                    {% endif %}
                        <h4 class="download-title">
                            {% if download.file %}
                                {% set filetype = download.file['mime_type']|split('/') %}
                            <i class="fa fa-file-{{ filetype[1] }}-o"></i>
                            {% endif %}

                            {{ download.title ? download.title : download.file['title'] }}
                        </h4>
                    {% if download.file %}
                    </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</section>